
@font-face {
	font-family: "press start";
	src: url(~/fonts/pressstart2p-webfont.eot);
	src: url(~/fonts/pressstart2p-webfont.eot?#iefix) format('embedded-opentype'),
		url(~/fonts/pressstart2p-webfont.woff) format('woff'),
		url(~/fonts/pressstart2p-webfont.ttf) format('truetype'),
		url(~/fonts/pressstart2p-webfont.svg#press_start_2pregular) format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Super Plumber Bros;
	src: url(~/fonts/super_plumber_brothers-webfont.eot);
	src: url(~/fonts/super_plumber_brothers-webfont.eot?#iefix) format('embedded-opentype'),
		url(~/fonts/super_plumber_brothers-webfont.woff) format('woff'),
		url(~/fonts/super_plumber_brothers-webfont.ttf) format('truetype'),
		url(~/fonts/super_plumber_brothers-webfont.svg#super_plumber_brothersregular) format('svg');
	font-weight: 400;
	font-style: normal
}


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "press start";
	color: #fafafa;

	&.show-game-over {
		background: #000;

		canvas {
			display: none;
		}

		.game-over {
			display: block;
		}
	}

	.game-over {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		font-size: 49px;
		white-space: nowrap;
		text-transform: uppercase;
	}

	.text,
	.display {
		border: 0;
		margin: 0;
		padding: 0;
		color: #fafafa;
		text-align: center;
		vertical-align: middle;
		z-index: 84;
		-webkit-font-smoothing: none;
		-webkit-user-select: none
	}

	.display {
		position: absolute;
		top: 3px;
		left: 0;
		width: 100%;
		font-size: 21px
	}

	.indisplay {
		margin: 7px 14px 0;
		text-align: center;
		z-index: 14
	}

	.indisplay.counter,
	.indisplay.seed {
		position: fixed;
		padding: 3px 7px;
		bottom: 0;
		background: rgba(0, 0, 0, .49)
	}

	.indisplay.counter {
		right: 0
	}

	.indisplay.seed {
		left: 0
	}

	.text {
		position: absolute;
		z-index: 14;
		text-align: left;
		line-height: 210%;
		vertical-align: middle
	}

	.text * {
		margin: 0
	}

	.score {
		width: 35px;
		height: 14px;
		font-size: 21px;
		z-index: 14
	}

	.start {
		width: 350px;
		max-height: 189px;
		background-color: #d64d00;
		border-radius: 7px;
		box-shadow: 3px 3px #efb28b inset, -3px -3px black inset;
		background-image: url("~/images/greeting.gif"), url("~/images/greeting.gif"), url("~/images/greeting.gif"), url("~/images/greeting.gif");
		background-repeat: no-repeat;
		background-position: 7px 7px, 336px 7px, 7px 168px, 336px 168px;

		p {
			text-align: left;
			padding: 7px 0 11px 11px;
			color: #ffcccc;
			font-family: Super Plumber Bros;
			font-size: 77px;
			text-shadow: 3px 8px black;
		}
	}
}
